* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

header h1 {
  text-align: center;
}

header {
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.nav-list {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 0 15px;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 20px;
}

main {
  padding: 50px;
}

.box-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 600px;
}

.box {
  width: 200px;
  height: 200px;
  margin: 0;
}

.box:nth-child(1) {
  background-color: #e6ffe9;
}
.box:nth-child(2) {
  background-color: #cbffd3;
}
.box:nth-child(3) {
  background-color: #aeffbd;
}
.box:nth-child(4) {
  background-color: #93ffab;
}
.box:nth-child(5) {
  background-color: #f3ffd8;
}
.box:nth-child(6) {
  background-color: #edffbe;
}
.box:nth-child(7)  {
  background-color: #e9ffa5;
}
.box:nth-child(8) {
  background-color: #e4ff8d;
}
.box:nth-child(9) {
  background-color: #d9e5ff;
}
.box:nth-child(10) {
  background-color: #bad3ff;
}
.box:nth-child(11) {
  background-color: #a4c6ff;
}
.box:nth-child(12) {
  background-color: #8eb8ff;
}

footer {
  color: white;
  background-color: #888888;
  height: 120px;
  text-align: center;
}

footer p {
  line-height: 120px;
}
